<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Esparkbiz trainee projects by harshal kahar</title>
</head>

<body>
    <span id="header" class="flex w-full justify-evenly h-10 bg-gray-300 items-center sticky top-0 z-20">
        <span>Name : Harshal S. Kahar</span>
        <span>Id : 24DEV090</span>
    </span>
    <div class="grid grid-cols-2 text-xl max-w-[1440px] my-10 mx-auto" id="project_root"></div>
</body>
<script src="/js/index.js"></script>

</html>