<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awan Hoster</title>
    <link rel="stylesheet" href="/css/static_website2.css">
</head>

<body>
    <div class="main_container">
        <header>
            <div>
                <div>
                    <img src="/assets2/cloud-sunny.png" alt="" class="logo">
                    <span>Awan</span>
                    <span>Hoster</span>
                </div>
                <nav>
                    <span>Hosting</span>
                    <span>Integration</span>
                    <span>Pricing</span>
                    <span>Community</span>
                    <button class="button">Login</button>
                </nav>
            </div>
        </header>
        <section class="section_1_parent">
            <div class="section_1">
                <div>
                    <h1>Hosting Service for Your Website</h1>
                    <p>Easily and reliably host a website for your business,organization, or project while retailing
                        complete control over your sites's underlying infrastructre.</p>
                    <div class="btn_grp">
                        <button class="button_1">Get Started</button>
                        <button class="button">Get Migration Help</button>
                    </div>
                    <span class="arrow_down">
                        <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 24 24">
                            <path
                                d="m18.707 12.707-1.414-1.414L13 15.586V6h-2v9.586l-4.293-4.293-1.414 1.414L12 19.414z">
                            </path>
                        </svg>
                    </span>
                </div>
                <div>
                    <img src="/assets2/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="">
                </div>
            </div>
        </section>
        <section class="section_2_parent">
            <div class="section_2">
                <p>Those Who have experienced The Best Performance</p>
                <div>
                    <img src="/assets2/Telkom Indonesia Logo.png" alt="">
                    <img src="/assets2/Jetstar Airways Logo.png" alt="">
                    <img src="/assets2/Nescafe Logo.png" alt="">
                    <img src="/assets2/Lenovo Logo.png" alt="">
                </div>
            </div>
        </section>
        <section class="section_3_parent">
            <div class="section_3">
                <div>
                    <img src="/assets2/Group 3552.png" alt="">
                </div>
                <div>
                    <h1>Boost the Speed of Your Website</h1>
                    <div class="section_3_card_grp">
                        <div class="section_3_card">
                            <h3 class="text-blue">Faster build Process</h3>
                            <p class="text-gray">We can speed up the process of creating your website.</p>
                        </div>
                        <div class="section_3_card">
                            <h3 class="text-blue">Faster Delivery</h3>
                            <p class="text-gray">Our purchases and services can be completed quickly.</p>
                        </div>
                        <div class="section_3_card">
                            <h3 class="text-blue">Faster Access Speed</h3>
                            <p class="text-gray">superb network infrastructure abd hardware to support fast and stable
                                access.</p>
                        </div>
                        <div class="section_3_card">
                            <h3 class="text-blue">24/7 Faster Services</h3>
                            <p class="text-gray">We have a response time of less then 180 seconds,available 24 hour a
                                day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section_4_parent">
            <div class="section_4">
                <h1>Host any website with Our Fully Managed Services </h1>
                <div class="pricing_card_grp">

                    <div class="pricing_card">
                        <div>
                            <div class="pricing_card_title">
                                <img src="/assets2/cloud-sunny.png" alt="" class="pricing_card_logo">
                                <h4>Cloud Hosting</h4>
                            </div>
                            <div>Cloud Hosting is a good fit for those of you who are building personal
                                websites,portfolios,blogs and other systems</div>
                        </div>
                        <span class="price">
                            <span>$5.9</span>
                            <span>/month</span>
                        </span>
                        <button class="button">More Detail</button>
                    </div>
                    <div class="pricing_card">
                        <div>
                            <div class="pricing_card_title">
                                <img src="/assets2/buildings.png" alt="" class="pricing_card_logo">
                                <h4>Corporate</h4>
                            </div>
                            <div>Provides business-related hosting services, such as websites or management systems for
                                companies</div>
                        </div>
                        <span class="price">
                            <span>$19</span>
                            <span>/month</span>
                        </span>
                        <button class="button">More Detail</button>
                    </div>
                    <div class="pricing_card">
                        <div>
                            <div class="pricing_card_title">
                                <img src="/assets2/driver.png" alt="" class="pricing_card_logo">
                                <h4>Cloud VPS</h4>
                            </div>
                            <div>A scalable, fully-managed virtual private server we build and optimize specifically for
                                your website.</div>
                        </div>
                        <span class="price">
                            <span>$29</span>
                            <span>/month</span>
                        </span>
                        <button class="button">More Detail</button>
                    </div>
                    <div class="pricing_card">
                        <div>
                            <div class="pricing_card_title">
                                <img src="/assets2/monitor-mobbile.png" alt="" class="pricing_card_logo">
                                <h4>Dedicated</h4>
                            </div>
                            <div>your mission-critical website requires the performance and securiry of a dedicated
                                physical server.</div>
                        </div>
                        <span class="price">
                            <span>$119</span>
                            <span>/month</span>
                        </span>
                        <button class="button">More Detail</button>
                    </div>

                </div>
            </div>
        </section>

        <section class="section_5_parent">
            <div class="section_5">
                <div class="tab_grp">
                    <span class="tab" id="wordpress_tab">
                        <img src="/assets2/WordPress.com Logo.png" alt="">
                        <span>WordPress</span>
                    </span>
                    <span class="tab" id="magento_tab">
                        <img src="/assets2/magento-icon.png" alt="">
                        <span>Magento</span>
                    </span>
                    <span class="tab" id="laravel_tab">
                        <img src="/assets2/laravel.png" alt="">
                        <span>Laravel</span>
                    </span>
                    <span class="tab" id="php_tab">
                        <img src="/assets2/php.png" alt="">
                        <span>Php</span>
                    </span>

                </div>
                <div id="wordpress">
                    <h2>The Best Managed Cloud Hosting For WordPress</h2>
                    <p>We live and breath WordPress. our manageg hosting for wordpress and woocommerence takes away
                        cloud
                        server related hassless so you can sacle your website the way you want.</p>
                    <div>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Unlimited
                                Bandwidth</span></span>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Network Speed</span></span>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Turbu Power</span></span>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Xtream Freedom</span></span>
                    </div>
                    <button class="button_1">More Detail</button>
                </div>
                <div id="magento">
                    <h2>The Best Managed Cloud Hosting For Magento</h2>
                    <p>We live and breath Magento. our manageg hosting for Magento and woocommerence takes away
                        cloud
                        server related hassless so you can sacle your website the way you want.</p>
                    <div>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Unlimited
                                Bandwidth</span></span>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Network Speed</span></span>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Turbu Power</span></span>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Xtream Freedom</span></span>
                    </div>
                    <button class="button_1">More Detail</button>
                </div>
                <div id="laravel">
                    <h2>The Best Managed Cloud Hosting For Laravel</h2>
                    <p>We live and breath Laravel. our manageg hosting for Laravel and woocommerence takes away
                        cloud
                        server related hassless so you can sacle your website the way you want.</p>
                    <div>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Unlimited
                                Bandwidth</span></span>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Network Speed</span></span>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Turbu Power</span></span>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Xtream Freedom</span></span>
                    </div>
                    <button class="button_1">More Detail</button>
                </div>
                <div id="php">
                    <h2>The Best Managed Cloud Hosting For Php</h2>
                    <p>We live and breath Php. our manageg hosting for Php and woocommerence takes away
                        cloud
                        server related hassless so you can sacle your website the way you want.</p>
                    <div>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Unlimited
                                Bandwidth</span></span>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Network Speed</span></span>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Turbu Power</span></span>
                        <span class="flex-center"><img src="/assets2/Vector.png" alt=""><span>Xtream Freedom</span></span>
                    </div>
                    <button class="button_1">More Detail</button>
                </div>
            </div>
        </section>

        <section class="section_6_parent">

            <div class="section_6">
                <div>
                    <h1>How Our Customers feel About Us</h1>
                    <div class="btn_grp">
                        <span id="left"><img src="/assets2/arrow-right.png" alt=""></span>
                        <span id="right"><img src="/assets2//arrow-right.png" alt=""></span>
                    </div>
                </div>
                <div class="slider scrollbar-hide" id="slider">
                    <div class="slide_card">
                        <div>
                            <img src="/assets2/profile.png" alt="">
                            <div>
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                            </div>
                            <p>Thanks to the Awan Hostel,I was guided step-by-step until it was finished</p>
                        </div>
                        <div>
                            <h3>Guy Hawkins 1</h3>
                            <span class="text-gray">Manager</span>
                        </div>
                    </div>
                    <div class="slide_card">
                        <div>
                            <img src="/assets2/profile.png" alt="">
                            <div>
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                            </div>
                            <p>Thanks to the Awan Hostel,I was guided step-by-step until it was finished</p>
                        </div>
                        <div>
                            <h3>Guy Hawkins 6</h3>
                            <span class="text-gray">Manager</span>
                        </div>
                    </div>
                    <div class="slide_card">
                        <div>
                            <img src="/assets2/profile.png" alt="">
                            <div>
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                            </div>
                            <p>Thanks to the Awan Hostel,I was guided step-by-step until it was finished</p>
                        </div>
                        <div>
                            <h3>Guy Hawkins 2</h3>
                            <span class="text-gray">Manager</span>
                        </div>
                    </div>
                    <div class="slide_card">
                        <div>
                            <img src="/assets2/profile.png" alt="">
                            <div>
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                            </div>
                            <p>Thanks to the Awan Hostel,I was guided step-by-step until it was finished</p>
                        </div>
                        <div>
                            <h3>Guy Hawkins 3</h3>
                            <span class="text-gray">Manager</span>
                        </div>
                    </div>
                    <div class="slide_card">
                        <div>
                            <img src="/assets2/profile.png" alt="">
                            <div>
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                            </div>
                            <p>Thanks to the Awan Hostel,I was guided step-by-step until it was finished</p>
                        </div>
                        <div>
                            <h3>Guy Hawkins 4</h3>
                            <span class="text-gray">Manager</span>
                        </div>
                    </div>
                    <div class="slide_card">
                        <div>
                            <img src="/assets2/profile.png" alt="">
                            <div>
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                                <img src="/assets2/Star 2.png" alt="">
                            </div>
                            <p>Thanks to the Awan Hostel,I was guided step-by-step until it was finished</p>
                        </div>
                        <div>
                            <h3>Guy Hawkins 5</h3>
                            <span class="text-gray">Manager</span>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="section_7_parent">
            <div class="section_7">
                <div>
                    <h1>Try it Now and Stop Doubting anything Else
                    </h1>
                    <p>with Awan Hoster's Money Back Guarantee, you can try the best service realibility</p>
                    <div class="btn_grp">
                        <button class="button">Start Free Trial</button>
                        <button class="button_1">See All Plans</button>
                    </div>
                </div>
                <div>
                    <img src="/assets2/Group 1000008788.png" alt="">
                </div>
            </div>
        </section>

        <footer class="footer_parent">
            <div class="footer">
                <div>
                    <div class="footer_logo">
                        <img src="/assets2/cloud-sunny.png" alt="" class="logo1">
                        <span>Awan</span>
                        <span>Hoster</span>
                    </div>
                    <p class="text-gray">We Provide you with the best hosting solutions for your website.</p>
                    <div class="flex-center">
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                style="fill: #ffffff;">
                                <path
                                    d="M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.908 8.908 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625z">
                                </path>
                            </svg></span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                style="fill: #ffffff;">
                                <path
                                    d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z">
                                </path>
                            </svg></span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                style="fill: #ffffff;">
                                <path
                                    d="M11.999 7.377a4.623 4.623 0 1 0 0 9.248 4.623 4.623 0 0 0 0-9.248zm0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008z">
                                </path>
                                <circle cx="16.806" cy="7.207" r="1.078"></circle>
                                <path
                                    d="M20.533 6.111A4.605 4.605 0 0 0 17.9 3.479a6.606 6.606 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.554 6.554 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.585 6.585 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71 0 2.442 0 2.753.056 3.71.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.615 6.615 0 0 0 2.186-.419 4.613 4.613 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.581 6.581 0 0 0-.421-2.217zm-1.218 9.532a5.043 5.043 0 0 1-.311 1.688 2.987 2.987 0 0 1-1.712 1.711 4.985 4.985 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a4.96 4.96 0 0 1-1.669-.311 2.985 2.985 0 0 1-1.719-1.711 5.08 5.08 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654 0-2.437 0-2.686.053-3.655a5.038 5.038 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5.01 5.01 0 0 1 1.669-.311c.951-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a4.96 4.96 0 0 1 1.67.311 2.991 2.991 0 0 1 1.712 1.712 5.08 5.08 0 0 1 .311 1.669c.043.951.054 1.218.054 3.655 0 2.436 0 2.698-.043 3.654h-.011z">
                                </path>
                            </svg></span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                style="fill: #ffffff;">
                                <path
                                    d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.339 18.337H5.667v-8.59h2.672v8.59zM7.003 8.574a1.548 1.548 0 1 1 0-3.096 1.548 1.548 0 0 1 0 3.096zm11.335 9.763h-2.669V14.16c0-.996-.018-2.277-1.388-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248h-2.667v-8.59h2.56v1.174h.037c.355-.675 1.227-1.387 2.524-1.387 2.704 0 3.203 1.778 3.203 4.092v4.71z">
                                </path>
                            </svg></span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                style="fill: #ffffff;">
                                <path
                                    d="M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831zM9.996 15.005l.005-6 5.207 3.005-5.212 2.995z">
                                </path>
                            </svg></span>

                    </div>
                </div>
                <div>
                    <div>
                        <h3>Company</h3>
                        <div>
                            <span>About</span>
                            <span>Blog</span>
                            <span>Leading</span>
                            <span>Careers</span>
                            <span>Legal</span>
                        </div>
                    </div>
                    <div>
                        <h3>Products</h3>
                        <div>
                            <span>API</span>
                            <span>Pricing</span>
                            <span>documention</span>
                            <span>Release Notes</span>
                        </div>
                    </div>
                    <div>
                        <h3>Contact</h3>
                        <div>
                            <span>Suppot</span>
                            <span>Sales</span>
                            <span>Report Abuse</span>
                            <span>System Status</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="/js/static_website2/slider.js"></script>
    <script src="/js/static_website2/tab.js"></script>
</body>

</html>