<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ehya</title>
    <link rel="stylesheet" href="/css/static_website1.css">
</head>

<body>
    <div class="main_container">
        <header>
            <div>
                <img src="/Desktop1/Logo.svg" alt="" class="logo">
            </div>
            <nav>
                <span>Home</span>
                <span class="flex-center">Landings <svg xmlns="http:/www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg></span>
                <span class="flex-center">Pages <svg xmlns="http:/www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg></span>
                <span>Docs</span>
                <span>Help</span>
                <button>Get it now</button>
            </nav>
        </header>
        <section id="section_1">
            <div>
                <img src="/Desktop1/Hero.png" alt="">
            </div>
            <div>
                <div class="heading1">Make your new life happier</div>
                <p>We work with several leading insurance companies to secure insurance coverages tailored to meet your
                    needs.</p>
                <button>Get a consultation</button>
            </div>
        </section>
        <div id="section_2_parent">
            <section id="section_2">
                <div>
                    <div class="small_heading">Our Services</div>
                    <span class="heading2">Insurance made simple for you</span>
                    <p class="text-gray">We work with several leading compnies to secure insurance coverages tailored to
                        meet your needs. </p>
                </div>
                <div>
                    <div>
                        <span class="circle_icon"><svg xmlns="http:/www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: green;"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg></span>
                        <span>Flexibile products to make your life </span>
                    </div>
                    <div>
                        <span class="circle_icon"><svg xmlns="http:/www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: green;"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg></span>
                        <span>Highest standards of services</span>
                    </div>
                    <div>
                        <span class="circle_icon"><svg xmlns="http:/www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: green;"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg></span>
                        <span>fast and relaible servies</span>
                    </div>

                </div>
                <div class="box_parent">
                    <div class="box">
                        <div>
                            <img src="/Desktop1/Icon_Home.svg" alt="" class="icon_image">
                        </div>
                        <div>
                            <div>Home Insurance</div>
                            <div class="text-gray">Home insurance is a type of insurance policy that provides cover for
                                your home.</div>
                        </div>
                        <a href="">
                            <span>Learn More</span>
                            <span>→</span>
                        </a>
                    </div>
                    <div class="box">
                        <div>
                            <img src="/Desktop1/Donation.svg" alt="" class="icon_image">
                        </div>
                        <div>
                            <div>Home Insurance</div>
                            <div class="text-gray">Home insurance is a type of insurance policy that provides cover for
                                your home.</div>
                        </div>
                        <a href="">
                            <span>Learn More</span>
                            <span>→</span>
                        </a>
                    </div>
                    <div class="box">
                        <div>
                            <img src="/Desktop1/Icon_Car.svg" alt="" class="icon_image">
                        </div>
                        <div>
                            <div>Home Insurance</div>
                            <div class="text-gray">Home insurance is a type of insurance policy that provides cover for
                                your home.</div>
                        </div>
                        <a href="">
                            <span>Learn More</span>
                            <span>→</span>
                        </a>
                    </div>

                </div>
            </section>
        </div>
        <div id="section_3">
            <div>
                <div class="small_heading">Our Tips for you</div>
                <span class="heading2">Reinventing your protection</span>
                <p class="text-gray">We share common trends, strategies ideas, opinions,short & long stories from the
                    team behind company.</p>
            </div>
            <div>
                <div class="img_card">
                    <img src="/Desktop1/Image.png" alt="">
                    <div>How to prevent and protect your family from Carbon monoxide</div>
                </div>
                <div class="img_card">
                    <img src="/Desktop1/Image2.png" alt="">
                    <div>Motherhood is the hardest and the best job ever</div>
                </div>
            </div>
        </div>
        <div id="section_4">
            <div>
                <div class="small_heading">Your Benefits</div>
                <div class="heading3">We're your right insurance advocate</div>
            </div>
            <div class="box_2">
                <div>
                    <img src="/Desktop1/Donation.svg" alt="" class="icon_image">
                </div>
                <div class="heading3">We have the best prices</div>
                <div class="text-gray">Our insurance plans offers are priced the same everywhere else. We just make them
                    easier for you to
                    find.</div>
            </div>
            <div class="box_2">
                <div>
                    <img src="/Desktop1/Icon_Protection.svg" alt="" class="icon_image">
                </div>
                <div class="heading3">We're Your insaurance advocate</div>
                <div class="text-gray">We will deal with the insurance companies for you, even after you've bought your
                    plan.</div>
            </div>
            <div class="box_2">
                <div>
                    <img src="/Desktop1/Icon_Neutron.svg" alt="" class="icon_image">
                </div>
                <div class="heading3">We're unbiased</div>
                <div class="text-gray">Our online tool help you decide what product is best for you. We're here to
                    insuranceplan to
                    choose.</div>
            </div>
            <div class="box_2">
                <div>
                    <img src="/Desktop1/Icon_CS.svg" alt="" class="icon_image">
                </div>
                <div class="heading3">We're available 24/7</div>
                <div class="text-gray">We have your back 24/7 between our online chat function,email and telephone
                    support.</div>
            </div>
            <div class="box_2">
                <div>
                    <img src="/Desktop1/Icon_Like.svg" alt="" class="icon_image">
                </div>
                <div class="heading3"> We're make insurance simple</div>
                <div class="text-gray">We're committed to making applying for insurance as simple as can be for our
                    customers.</div>
            </div>
        </div>
        <hr>
        <div id="section_5">
            <div class="box_3">
                <span>
                    <img src="/Desktop1/Avatar.png" alt="">
                    <img src="/Desktop1/Avatar-1.png" alt="" class="avatars">
                    <img src="/Desktop1/Avatar-2.png" alt="" class="avatars">
                </span>
                <span>friendly Customer Support team</span>
            </div>
            <span class="text-gray">/</span>
            <div class="box_3">
                <span class="flex-center">
                    <span>
                        <img src="/Desktop1/Path.svg" alt="" class="box_3_icons">
                    </span>
                    <span>Trustpilot</span>
                </span>
                <span>
                    <img src="/Desktop1/s.svg" alt="" class="box_3_icons">
                    <img src="/Desktop1/s.svg" alt="" class="box_3_icons">
                    <img src="/Desktop1/s.svg" alt="" class="box_3_icons">
                    <img src="/Desktop1/s.svg" alt="" class="box_3_icons">
                    <img src="/Desktop1/s.svg" alt="" class="box_3_icons">
                </span>
                <span>4.6 outof 5 starts from 8.6k reviews</span>
            </div>
            <span class="text-gray">/</span>
            <div class="box_3">
                <img src="/Desktop1/Icon_Like.svg" alt="" class="box_3_icons">
                <span>We're making insurance as simple as can be</span>
            </div>
        </div>
        <footer>
            <section>
                <div>
                    <div>
                        <img src="/Desktop1/Logo_white.svg" alt="" class="logo">
                        <div class="text-gray">Build a modern and creative
                            Website with creland
                        </div>
                        <div class="footer_icons">
                            <span><svg xmlns="http:/www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #5A7184;"><path d="M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.908 8.908 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625z"></path></svg></span>
                            <span><svg xmlns="http:/www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #5A7184;"><path d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"></path></svg></span>
                            <span><svg xmlns="http:/www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #5A7184;"><path d="M11.999 7.377a4.623 4.623 0 1 0 0 9.248 4.623 4.623 0 0 0 0-9.248zm0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008z"></path><circle cx="16.806" cy="7.207" r="1.078"></circle><path d="M20.533 6.111A4.605 4.605 0 0 0 17.9 3.479a6.606 6.606 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.554 6.554 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.585 6.585 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71 0 2.442 0 2.753.056 3.71.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.615 6.615 0 0 0 2.186-.419 4.613 4.613 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.581 6.581 0 0 0-.421-2.217zm-1.218 9.532a5.043 5.043 0 0 1-.311 1.688 2.987 2.987 0 0 1-1.712 1.711 4.985 4.985 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a4.96 4.96 0 0 1-1.669-.311 2.985 2.985 0 0 1-1.719-1.711 5.08 5.08 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654 0-2.437 0-2.686.053-3.655a5.038 5.038 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5.01 5.01 0 0 1 1.669-.311c.951-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a4.96 4.96 0 0 1 1.67.311 2.991 2.991 0 0 1 1.712 1.712 5.08 5.08 0 0 1 .311 1.669c.043.951.054 1.218.054 3.655 0 2.436 0 2.698-.043 3.654h-.011z"></path></svg></span>
                            <span><svg xmlns="http:/www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #5A7184;"><path d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.339 18.337H5.667v-8.59h2.672v8.59zM7.003 8.574a1.548 1.548 0 1 1 0-3.096 1.548 1.548 0 0 1 0 3.096zm11.335 9.763h-2.669V14.16c0-.996-.018-2.277-1.388-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248h-2.667v-8.59h2.56v1.174h.037c.355-.675 1.227-1.387 2.524-1.387 2.704 0 3.203 1.778 3.203 4.092v4.71z"></path></svg></span>
                            <span><svg xmlns="http:/www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #5A7184;"><path d="M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831zM9.996 15.005l.005-6 5.207 3.005-5.212 2.995z"></path></svg></span>

                        </div>
                    </div>
                    <div>
                        <div>Ready to get insured? submit your request and Hear back as soon as tommorow</div>
                        <div>
                            <span><input type="text" class="footer_input" placeholder="Your Email"></span>
                            <button class="button">Get Started</button>
                        </div>
                    </div>
                </div>
                <div class="text-gray">Copy right @2019 crafted with love </div>
            </section>
        </footer>
    </div>

</body>

</html>