<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application form Basic Details</title>
    <link rel="stylesheet" href="/css/crud_fs/basicDetails.css">
    <link href="https://api.fontshare.com/v2/css?f[]=author@400,500,600&display=swap" rel="stylesheet">
</head>

<body>
    <fieldset class="basicDetails">
        <legend>
            <h2>Basic Details </h2>
        </legend>
        <form action="/fs_crud/basicdetails" method="POST">
            <div>
                <label for="first_name" class="bold">First Name</label>
                <input type="text" name="first_name" id="first_name" placeholder="First Name" />
            </div>
            <div>
                <label for="last_name" class="bold">Last Name</label>
                <input type="text" name="last_name" placeholder="Last Name" />
            </div>

            <div>
                <label for="age" class="bold">Age</label>
                <input type="number" name="age" placeholder="age" />
            </div>

            <div>
                <label for="email" class="bold">Email</label>
                <input type="email" name="email" placeholder="Email" />
            </div>
            <div>
                <label for="phone_number" class="bold">Phone Number</label>
                <input type="tel" name="phone_number" placeholder="Phone Number" />
            </div>
            <div>
                <label for="address" class="bold">Address</label>
                <textarea name="address"></textarea>
            </div>
            <div>
                <span class="bold">Hobbies:</span>
                <input type="checkbox" id="chess" name="hobbies" value="Chess">
                <label for="chess">Chess</label>
                <input type="checkbox" id="exercise" name="hobbies" value="Exercise">
                <label for="exercise"> Exercise</label>
                <input type="checkbox" id="coding" name="hobbies" value="Coding">
                <label for="coding"> Coding</label>
                <input type="checkbox" id="designing" name="hobbies" value="Designing">
                <label for="designing">Designing</label>
            </div>
            <div>
                <span class="bold">Gender:</span>
                  <input type="radio" id="male" name="gender" value="male">
                  <label for="male">Male</label>
                  <input type="radio" id="female" name="gender" value="female">
                  <label for="female">Female</label>
            </div>
            <div class="button-grp">
                <input type="submit" class="button">
                <input type="reset" class="button">
            </div>
        </form>
    </fieldset>

</body>

</html>