<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 Not found</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-red-50">
    <div class="flex items-center justify-center min-w-screen min-h-screen flex-col gap-3 -mt-10">
        <span class="text-red-500 font-extrabold text-[20rem]">404</span>
        <span class="text-4xl text-red-600 flex items-center gap-3">Page Not found, You have to login for accesss all projects...<a href="http://localhost:3000/login" class="text-4xl text-purple-500">Login</a></span>
        
    </div>

</body>

</html>