<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searching in table</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col gap-5 items-center justify-center py-10">
    <%- include('partials/searchbox'); %>
        <%- include('partials/tablegrid'); %>
</body>

</html>