<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searching in table</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col gap-5 items-center justify-center py-10">
    <div>"_": "student_name",</div>
    <div> "^": "student_surname",</div>
    <div>"$": "student_mobile",</div>
    <div>"}": "student_location",</div>
    <div> "{": "student_age",</div>
    <div> ":": "student_gender"</div>

    <%- include('partials/searchbox'); %>
        <%- include('partials/tablegrid'); %>

</body>

</html>